body, html, main {
    height: 100%;
    margin: 0;
    position: relative;
}

footer{
    margin: 0;
    padding: 0;
    position: relative;
    background: #1a1a1a;
    text-align: center;
    vertical-align: middle;
}
footer p{
    color: #a1a1a1;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    padding: 1em;
    margin:0;
}
/*Image settings*/
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4{
    position: relative;
    opacity: .9;
    background: no-repeat fixed center;
    background-size: cover;

}
.bgimg-1 {
    background-image: url("../images/background1.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("../images/background2.jpg");
    min-height: 50%;
}

.bgimg-3 {
    background-image: url("../images/background3.jpg");
    min-height: 70%;
}

.bgimg-4 {
    background-image: url("../images/background4.jpg");
    background-position-y: 100px;
    min-height: 40%;
}

/*Row Settings*/
.article{
    background: #1a1a1a;
    padding: 3em 1em;
}


/*Typography settings*/
h2{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.7em;
}

h3{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.5em;
}

p{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a{
    color: #f53;
}

a:hover{
    color: #f23;
}

a:visited{
    color: #f53;
}

.container ul{
    padding-top: 0.5em;
}
li{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #fff;
}